<h1>Welcome to Countdown</h1>
<form action="/new">
  <input type="text" name="user_name" id="userName" maxlength=5>
  <label for="userName">What is your name?</label>
  <input type="button" value="Play New Game" class="btn btn-outline-primary">
</form>
<br>
