<h2>What is the longest word you can find?</h2>

<ul class="d-inline-flex list-group list-group-horizontal my-3">
  <% @letters.each do |letter| %>
  <li class="list-group-item"><%= letter.upcase %></li>
  <% end %>
</ul>

<form action="/score" method="post">
  <div class="input-group mb-3">
    <input type="text" name='user_input' class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
    <input class="btn btn-outline-secondary" type="submit" id="submit-btn" value='Check Answer'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= hidden_field_tag :letters, @letters %>
    <%= hidden_field_tag :username, @username %>
  </div>
</form>
